/*

	Theme Name: AGEN - One Page & Multi Page Responsive HTML5 Template
	Theme URI: http://locotheme.com/agen-html/
	Description: One Page & Multi Page Responsive HTML5 Template
	Version: 1.0
	Author: Loco Theme
	Author URI: http://www.locotheme.com

	- - - - - Contents - - - - -
	
	01 - Max 480px
	02 - Max 767px
	03 - Max 991px
	04 - Max 1024
	05 - Min 768px
	06 - Min 992px
	07 - Min 1200px

	- - - - - - - - - - - - - -
	
*/	

/*  01 -  Max 480px
-----------------------------------------------------------*/
@media (max-width: 480px){
	.btn{
		display					: block;
		width					: 100%;
	}
	.space{
		padding					: 10px 0;
	}
	.button-group .btn:last-child{
		margin-bottom			: 0;
	}
	.section-header{
		margin-bottom			: 20px;
	}
	.section-header .social-icons{
		display					: inline-block;
	}
	.grid-list.grid-vertical .grid{
		text-align				: center;
	}
	.grid-list.grid-vertical .grid .line-bottom:after{
		left					: 50%;
		margin-left				: -20px;
	}
	.grid-list.grid-vertical.with-icons .grid{
		position				: relative;
		padding-left			: 30px;
	}
	.grid-list.grid-vertical.with-icons .grid .fa{
		position				: relative;
		width					: 100%;
		height					: 100%;
		background-color		: #FFF;
		border-right			: 0;
		margin					: 0;
		top						: 0;
		left					: 0;
	}
	.grid-list.grid-vertical.with-icons .grid .fa:before{
		width					: 100%;
		text-align				: center;
		position				: relative;
		top						: 0;
		transform				: translate(0, 0);    
		-webkit-transform		: translate(0, 0);
		-moz-transform			: translate(0, 0);
		-ms-transform			: translate(0, 0);
	}
	.owl-theme{
		padding-top				: 50px;
	}
	.owl-theme .owl-controls .owl-buttons,
	.col-half .owl-theme .owl-controls .owl-buttons{
		top						: 0;
		right					: 50%;
		margin-right			: -35px;
	}
	.owl-theme .owl-controls .owl-buttons div{
		width					: 30px;
		height					: 30px;
	}
	.owl-theme .owl-controls .owl-buttons .owl-next:before, 
	.owl-theme .owl-controls .owl-buttons .owl-prev:before{
		width					: 30px;
		height					: 30px;
		line-height				: 30px;
	}
	.works-horizontal,
	.section-header,
	.section-header .social-icons,
	#site-slider .slide-caption,
	#site-footer .footer-middle,
	#site-footer .footer-bottom{
		text-align				: center;
	}
	#site-footer .social-icons{
		display					: inline-block;
	}
	#site-slider .slide-caption{
		padding					: 0;
	}
	#site-slider .slide-caption .btn{
		display					: none;
	}
	#site-slider .slide-caption .line-bottom:after{
		left					: 50%;
		margin-left				: -10px;
	}
	#site-slider .bx-pager,
	#site-slider .bx-controls-auto{
		bottom					: 10px;
	}
}

/*  02 -  Max 767px
-----------------------------------------------------------*/
@media (max-width: 767px){
	.padding-all{
		padding					: 20px;
	}
	.section-header .btn.v-center{
		position				: relative;
		top						: 0;
		left					: 0;
		margin-top				: 20px;
		transform				: translate(0, 0);    
		-webkit-transform		: translate(0, 0);
		-moz-transform			: translate(0, 0);
		-ms-transform			: translate(0, 0);
	}
	#site-header .wrapper{
		padding					: 0 20px;
	}
	#site-header .header-logo{
		left					: 20px;
	}
	#site-slider .slide-caption h2{
		font-size				: 24px;
		margin					: 10px 0;
	}
	#site-slider .slide-caption h3{
		margin-bottom			: 20px;
	}
	#site-slider .slide-caption h5{
		margin-bottom			: 0;
	}
	#site-slider .slide-caption h3,
	#site-slider .slide-caption h4{
		font-size				: 14px;
	}
	#site-slider .slide-caption .btn{
		font-size				: 12px;
		padding					: 0 10px;
		height					: 30px;
		line-height				: 30px;
	}
	#site-footer .wrapper{
		padding					: 0 20px;
	}
	#site-footer .social-icons{
		float					: none !important;
	}
	#site-footer .row .col-sm-12{
		margin-bottom			: 20px;
	}
	#site-footer .row .col-sm-12:last-child{
		margin-bottom			: 0;
	}
	#site-footer .footer-top{
		padding					: 20px 0;
	}
	#site-footer .footer-top .top-logo{
		margin-top				: -20px;
	}
	#site-footer .footer-top .top-menu{
		margin-bottom			: 20px;
	}
	#site-footer .footer-top .top-menu ul{
		float					: none !important;
	}
	#site-footer .footer-top .top-newsletter{
		float					: none !important;
	}
	#site-footer .footer-top .top-newsletter input[type="text"]{
		width					: 100%;
	}
	#site-footer .footer-middle .address-list li{
		float					: none;
		margin-right			: 0;
	}
	#site-footer .footer-bottom p{
		margin-bottom			: 0;
	}
}

/*  03 -  Max 991px
-----------------------------------------------------------*/
@media (max-width: 991px){
	#site-container{
		position				: relative;
	}
	.padding-right-40{
		padding-right			: 0;
	}
	.padding-left-40{
		padding-left			: 0;
	}
	.row .col-sm-12{
		margin-bottom			: 20px;
	}
	.col-half .col-sm-12,
	.row .col-sm-12:last-child{
		margin-bottom			: 0;
	}
	.data-form .col-sm-12{
		margin-bottom			: 10px;
	}
	#site-header .header-logo{
		top						: -40px !important;
	}
	#site-header .header-menu{
		display					: none;
	}
	#site-header .header-search{
		display					: none;
	}
	#site-header .header-nav{
		display					: inline-block;
	}
	#site-header .header-inner{
		padding					: 20px 0;
	}
	#site-container.site-sticky{
		padding-top				: 70px;
	}
	#site-container.site-sticky #site-header{
		position				: fixed;
		top						: 0;
		left					: 0;
		z-index					: 99;
	}
}

/*  04 -  Max 1024px
-----------------------------------------------------------*/
@media (max-width: 1024px){
	.button-group .btn{
		margin-bottom			: 20px;
	}
}

/*  05 -  Min 768px
-----------------------------------------------------------*/
@media (min-width: 768px){
	
}

/*  06 -  Min 992px
-----------------------------------------------------------*/
@media (min-width: 992px){
	#site-header .wrapper{
		position				: relative;
	}
	#site-header .header-inner{
		padding					: 20px 0 20px 0;
	}
	#site-header .header-logo{
		top						: -60px;
	}
	#site-header .header-menu{
		float					: right;
	}
	#site-header .header-menu ul li{
		position				: relative;
		z-index					: 99;
	}
	#site-header .header-menu ul li:hover > ul{
		display					: block;
	}
	#site-header .header-menu ul li a{
		height					: 30px;
		line-height				: 30px;
		font-size				: 12px;
		font-weight				: 600;
		letter-spacing			: 2px;
		color					: #FFF;
		position				: relative;
	}
	#site-header .header-menu ul li ul{
		display					: none;
		position				: absolute;
		top						: 0;
		left					: 100%;
	}
	#site-header .header-menu > ul > li{
		margin-left				: 10px;
	}
	#site-header .header-menu > ul > li > a:after{
		content					: "";
		width					: 0;
		height					: 2px;
		position				: absolute;
		left					: 0;
		bottom					: 0;
		background-color		: #ffc740;
	}
	#site-header .header-menu > ul > li.active > a:after,
	#site-header .header-menu > ul > li:hover > a:after{
		width					: 50%;
	}
	#site-header .header-menu > ul > li:first-child{
		margin-left				: 0;
	}
	#site-header .header-menu > ul > li > ul{
		padding-top				: 20px;
		top						: 100%;
		left					: -15px;
	}
	#site-header .header-menu > ul > li:last-child > ul{
		padding-top				: 20px;
		top						: 100%;
		left					: inherit;
		right					: 0;
	}
	#site-header .header-menu > ul > li > ul li{
		float					: none;
	}
	#site-header .header-menu > ul > li > ul li a{
		display					: block;
		white-space				: nowrap;
		text-overflow			: ellipsis;
		overflow				: hidden;
		padding					: 0 15px;
		background-color		: #1a1919;
	}
	#site-header .header-menu > ul > li > ul li:hover > a{
		color					: #ffc740;
	}
	#site-container.site-sticky{
		padding-top				:70px;
	}
	#site-container.site-sticky #site-header{
		position				: absolute;
		top						: 0;
		left					: 0;
		z-index					: 99;
	}
	#site-container.site-sticky #site-header .header-logo{
		top						: 0;
	}
}

/*  07 -  Min 1200px
-----------------------------------------------------------*/
@media (min-width: 1200px){
	.wrapper,
	#site-container{
		width					: 1170px;
		margin					: 0 auto;
	}
	#site-container.site-sticky #site-header .header-inner{
		width					: 1170px;
		margin					: 0 auto;
	}
	#site-container.site-fullscreen{
		width					: 100%;
	}
	#site-container.site-fullscreen .wrapper.padding-all{
		padding					: 40px 0;
	}
	#site-container.site-fullscreen .col-half .wrapper{
		width					: 100%;
	}
	#site-container.site-fullscreen #site-header .wrapper{
		padding					: 0;
	}
	#site-container.site-fullscreen #site-header .header-inner{
		width					: 100%;
	}
	#site-container.site-fullscreen #site-header .header-search{
		right					: 0;
	}
	#site-container.site-fullscreen #site-slider .wrapper{
		width					: 100%;
	}
	#site-container.site-fullscreen #site-slider .slide-caption .wrapper{
		width					: 1170px;
		margin					: 0 auto;
	}
	#site-container.site-fullscreen #site-footer .wrapper{
		padding					: 0;
	}
}