/*

	Theme Name: AGEN - One Page & Multi Page Responsive HTML5 Template
	Theme URI: http://locotheme.com/agen-html/
	Description: One Page & Multi Page Responsive HTML5 Template
	Version: 1.0
	Author: Loco Theme
	Author URI: http://www.locotheme.com

	- - - - - Contents - - - - -
	
	01 - Basic Stylesheet
	02 - General Stylesheet
	03 - Layout Stylesheet

	- - - - - - - - - - - - - -
	
*/	

/*  01 - Basic Stylesheet
-----------------------------------------------------------*/

@font-face {
    font-family: Dosis; /* Имя шрифта */
    src: url('../fonts/Dosis.ttf'); /* Путь к файлу со шрифтом */
}


html{
	width					: 100%;
}
body{
	font-size				: 16px;
	font-family				: 'Dosis', sans-serif;
	font-weight				: 400;
	color					: #262626;
	margin					: 0;
	padding					: 0;
	width					: 100%;
	background-color		: #d1d1d1;
	-webkit-font-smoothing	: antialiased;
	-moz-font-smoothing		: none;
	font-smoothing			: antialiased;
	text-rendering			: optimizeLegibility;
}
a{
	color					: #262626;
	outline					: 0;
	text-decoration			: none;
}
a:hover{
	color					: #262626;
	text-decoration			: none;
}
a:hover, a:active, a:focus{
	outline					: 0;
	text-decoration			: none;
}
p{
	line-height				: 24px;
}
h1,h2,h3,h4{
	padding					: 0;
	margin					: 0 0 10px 0;
	font-weight				: 400;
}
h1{
	font-size				: 48px;
}
h2{
	font-size				: 30px;
}
h3{
	font-size				: 24px;
}
ul{
	list-style-type			: none;
	margin					: 0;
	padding					: 0;
}
button{
	padding					: 0;
	margin					: 0;
	border					: none;
	outline					: none;
	background				: none;
}

/*  02 - General Stylesheet
-----------------------------------------------------------*/
a,
.transparent,
.site-back-top:hover,
input.btn,
button.btn,
.zoom-effect:before,
.zoom-effect:after,
.data-form input,
.data-form select,
.data-form textarea,
.owl-theme .owl-controls .owl-buttons div,
.grid-clients .grid img,
.team-half .team-half-list .team-member,
.team-horizontal .team .team-detail .detail-social,
.blog-horizontal .post .post-info .info-count ul li a,
.blog-search input[type="text"],
.blog-search .search-btn .fa,
.site-nav > ul.nav-default > li > a:before,
.header-search input[type="text"],
.header-search button,
#site-header .header-menu ul li a:after,
#site-header .header-nav,
#site-footer .footer-top .top-menu ul li a:after,
#site-footer .footer-top .top-newsletter input[type="text"],
#site-footer .footer-top .top-newsletter button{
	-webkit-transition		: all 0.2s ease-in-out;
	-moz-transition			: all 0.2s ease-in-out;
	-o-transition			: all 0.2s ease-in-out;
	transition				: all 0.2s ease-in-out;
}
.clear{
	clear					: both;
	margin					: 0px;
	padding					: 0px;
}
.justify{
	text-align				: justify;
}
.center{
	text-align				: center;
}
.img-full{
	width					: 100%;
}
.v-center{
	position				: absolute;
	top						: 50%;
	transform				: translate(0, -50%);    
    -webkit-transform		: translate(0, -50%);
    -moz-transform			: translate(0, -50%);
    -ms-transform			: translate(0, -50%);
}
.site-loader{
	position				: fixed;
	width					: 100%;
	height					: 100%;
	z-index					: 9999;
	text-align				: center;
	background-color		: #fff;
}
.site-loader img{
	position				: absolute;
	left					: 50%;
	top						: 50%;
	margin-left				: -15px;
	margin-top				: -15px;
}
.site-back-top{
	display					: none;
	width					: 50px;
	height					: 50px;
	line-height				: 50px;
	text-align				: center;
	position				: fixed;
	bottom					: 0;
	right					: 30px;
	cursor					: pointer;
	z-index					: 999;
	font-size				: 1.5em;
	color					: #FFF;
	background-color		: #262626;
}
.site-back-top:hover{
	background-color		: #000;
}
.space{
	padding					: 20px 0;
}
.space-20{
	padding					: 10px 0;
}
.progress,
.progress-bar{
	font-size				: 14px;
	height					: 30px;
	line-height				: 30px;
}
.progress-bar-yellow{
	color					: #262626;
	background-color		: #ffc740;
}
.progress-bar-dark{
	background-color		: #262626;
}
ul.list-default{
	line-height				: 30px;
}
.circle{
	-webkit-border-radius	: 50%;
	-moz-border-radius		: 50%;
	border-radius			: 50%;
	overflow				: hidden;
	position				: relative;
	background				: url("../img/space.png") repeat scroll 0 0 transparent;
}
.block{
	display					: block;
}
.float-none{
	float					: none;
}
.parallax{
	background-size			: cover;
	background-position		: 0 0;
	background-repeat		: no-repeat;
}
.shadow-bg{
	background-color		: rgba(0,0,0,0.7);
}
.shadow-left{
	background				: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 100%);
	background				: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(20%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0)));
	background				: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 20%,rgba(0,0,0,0) 100%);
	background				: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 20%,rgba(0,0,0,0) 100%);
	background				: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 20%,rgba(0,0,0,0) 100%);
	background				: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 20%,rgba(0,0,0,0) 100%);
	filter					: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );
}
.border-top{
	border-top				: 1px solid #e1e1df;
}
.title-big{
	font-size				: 30px;
	font-weight				: 600;
}
.title-bigbig{
	font-size				: 10em;
	font-weight				: 800;
}
.text-small{
	font-size				: 14px;
}
.text-space{
	letter-spacing			: 2px;
}
.text-light{
	font-weight				: 300;
}
.text-normal{
	font-weight				: 400;
}
.text-medium{
	font-weight				: 500;
}
.text-semibold{
	font-weight				: 600;
}
.text-bold{
	font-weight				: 700;
}
.text-extrabold{
	font-weight				: 800;
}
.text-yellow{
	color					: #ffc740;
}
.transparent{
	-ms-filter				: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter					: alpha(opacity=0);
	-moz-opacity			: 0;
	-khtml-opacity			: 0;
	opacity					: 0;
}
.transparent:hover{
	-ms-filter				: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter					: alpha(opacity=100);
	-moz-opacity			: 1;
	-khtml-opacity			: 1;
	opacity					: 1;
}
.line-top{
	padding-top				: 10px;
	position				: relative;
}
.line-top:after{
	content					: "";
	position				: absolute;
	left					: 50%;
	top						: 0;
	margin-left				: -20px;
	width					: 40px;
	height					: 2px;
	background-color		: #ffc740;
}
.line-bottom{
	padding-bottom			: 10px;
	position				: relative;
}
.line-bottom:after{
	content					: "";
	position				: absolute;
	left					: 50%;
	bottom					: 0;
	margin-left				: -20px;
	width					: 40px;
	height					: 2px;
	background-color		: #ffc740;
}
.line-bottom.left:after{
	left					: 0;
	margin-left				: 0;
}
.btn{
	border					: 0;
	padding					: 0 20px;
	margin					: 0;
	outline					: none;
	height					: 40px;
	line-height				: 40px;
	font-weight				: 600;
	letter-spacing			: 2px;
	-webkit-border-radius	: 0px;
	-moz-border-radius		: 0px;
	border-radius			: 0px;
}
.btn:hover,
.btn:focus,
.btn:active{
	outline					: none !important;
}
.btn-default{
	background-color		: #ffc740;
}
.btn-dark{
	color					: #FFF;
	background-color		: #262626;
}
.btn-dark:hover{
	color					: #FFF;
	background-color		: #505050;
}
.btn-border{
	color					: #ffc740;
	border					: 1px solid #ffc740;
	background-color		: transparent;
}
.btn-border:hover{
	background-color		: #ffc740;
}
.button-group .btn{
	float					: left;
	margin-right			: 10px;
}
.button-group .btn:last-child{
	margin-right			: 0;
}
.button-group.mini .btn{
	height					: 30px;
	line-height				: 30px;
	padding					: 0 10px;
	font-size				: 12px;
}
.padding-all{
	padding					: 40px;
}
.padding-all-20{
	padding					: 20px;
}
.padding-none{
	padding					: 0;
}
.padding-none-top{
	padding-top				: 0;
}
.padding-none-bottom{
	padding-bottom			: 0;
}
.padding-none-right{
	padding-right			: 0;
}
.padding-none-left{
	padding-left			: 0;
}
.padding-right-40{
	padding-right			: 40px;
}
.padding-left-40{
	padding-left			: 40px;
}
.padding-v15{
	padding-top				: 15px;
	padding-bottom			: 15px;
}
.margin-none{
	margin					: 0;
}
.margin-top-10{
	margin-top				: 10px;
}
.margin-top-20{
	margin-top				: 20px;
}
.margin-bottom-10{
	margin-bottom			: 10px;
}
.margin-bottom-20{
	margin-bottom			: 20px;
}
.margin-v15{
	margin-top				: 15px;
	margin-bottom			: 15px;
}
.margin-v20{
	margin-top				: 20px;
	margin-bottom			: 20px;
}
.margin-auto{
	margin					: 0 auto;
}
.nav-default li{
	float					: left;
}
.nav-default li a{
	display					: inline-block;
}
.nav-pager li{
	margin-right			: 5px;
}
.nav-pager li a{
	width					: 40px;
	height					: 40px;
	line-height				: 40px;
	text-align				: center;
	background-color		: #FFF;
}
.nav-pager li a:hover{
	background-color		: #e1e1e1;
}
.nav-pager li.active a{
	background-color		: #ffc740;
}
.box-white{
	background-color		: #FFF;
}
.box-grey{
	background-color		: #f3f3f2;
}
.box-grey .owl-theme .owl-controls .owl-buttons div{
	background-color		: #fff;
}
.box-dark{
	color					: #FFF;
	background-color		: #262626;
}
.box-dark-light{
	color					: #FFF;
	background-color		: #636363;
}
.box-dark .owl-theme .owl-controls .owl-buttons div,
.box-dark-light .owl-theme .owl-controls .owl-buttons div{
	color					: #FFF;
	background-color		: #151515;
}
.box-dark .owl-theme .owl-controls .owl-buttons div:hover,
.box-dark-light .owl-theme .owl-controls .owl-buttons div:hover{
	color					: #262626;
}
.box-dark .owl-theme .owl-controls .owl-page span,
.box-dark-light .owl-theme .owl-controls .owl-page span{
	background-color		: #151515;
}
.box-yellow{
	background-color		: #ffc740;
}
.box-yellow .owl-theme .owl-controls .owl-buttons div:hover{
	color					: #FFF;
	background-color		: #262626;
}
.box-yellow .owl-theme .owl-controls .owl-page span{
	background-color		: #FFF;
}
.zoom-effect{
	display					: block;
	position				: relative;
}
.zoom-effect:before{
	content					: '';
	opacity					: 0;
	width					: 100%;
	height					: 100%;
	position				: absolute;
	top						: 0;
	left					: 0;
	background				: #000\9;
	background				: rgba(0, 0, 0, 0.50);
}
.zoom-effect:after{
	opacity					: 0;
	font-family				: 'FontAwesome';
	content					: "\f002";
	position				: absolute;
	top						: 50%;
	left					: 0;
	width					: 100%;
	text-align				: center;
	color					: #FFF;
	 -webkit-transform		: translateY(-50%);
	-ms-transform			: translateY(-50%);
	transform				: translateY(-50%);
}
.zoom-effect:hover:before,
.zoom-effect:hover:after{
	opacity					: 1;
}
.hover-effect{
	position				: relative;
}
.hover-effect figcaption{
	position				: absolute;
	width					: 100%;
	height					: 100%;
	top						: 0;
	left					: 0;
	background-color		: rgba(0, 0, 0, 0.8);
}
.hover-effect figcaption .caption-buttons{
	position				: absolute;
	top						: 50%;
	left					: 50%;
	transform				: translate(-50%, -50%);    
    -webkit-transform		: translate(-50%, -50%);
    -moz-transform			: translate(-50%, -50%);
    -ms-transform			: translate(-50%, -50%);
}
.hover-effect figcaption .caption-buttons a{
	display					: block;
	width					: 40px;
	height					: 40px;
	line-height				: 40px;
	text-align				: center;
	float					: left;
	margin					: 0 5px;
	color					: #FFF;
	border					: 1px solid #fff;
	-webkit-border-radius	: 20px;
	-moz-border-radius		: 20px;
	border-radius			: 20px;
}
.hover-effect figcaption .caption-buttons a:hover{
	border-color			: #ffc740;
	color					: #ffc740;
}
.social-icons li{
	margin-left				: 10px;
	width					: 30px;
	height					: 30px;
}
.social-icons li a{
	width					: 30px;
	height					: 30px;
	line-height				: 30px;
	text-align				: center;
	font-size				: 13px;
	background-color		: #FFF;
}
.social-icons li a:hover{
	color					: #FFF;
}
.social-icons li a.facebook:hover{
	background-color		: #204385;
}
.social-icons li a.twitter:hover{
	background-color		: #2aa9e0;
}
.social-icons li a.google:hover{
	background-color		: #d3492c;
}
.social-icons li a.linkedin:hover{
	background-color		: #02669a;
}
.social-icons li:first-child{
	margin-left				: 0;
}
.social-icons.social-grey li a{
	background-color		: #f3f3f2;
}
.social-icons.inline{
	display					: inline-block;
}
.address-list li{
	line-height				: 30px;
	margin-bottom			: 10px;
}
.address-list li .fa{
	width					: 20px;
	text-align				: center;
	margin-right			: 5px;
}
.address-list.nav-default li{
	margin-right			: 15px;
	margin-bottom			: 0;
}
.address-list.nav-default li:last-child{
	margin-right			: 0;
	margin-bottom			: 0;
}
.tags-cloud li{
	margin					: 0 5px 5px 0;
}
.tags-cloud li a{
	font-size				: 14px;
	padding					: 5px 10px;
	background-color		: #f3f3f2;
}
.tags-cloud li a:hover{
	background-color		: #ffc740;
}
.tags-cloud.tags-white li a{
	background-color		: #fff;
}
.tags-cloud.tags-white li a:hover{
	background-color		: #ffc740;
}
.data-form label{
	display					: block;
	font-weight				: normal;
}
.data-form input[type="text"],
.data-form input[type="password"],
.data-form input[type="email"],
.data-form input[type="url"],
.data-form input[type="number"],
.data-form input[type="tel"],
.data-form input[type="date"],
.data-form textarea,
.data-form select{
	font-size				: 14px;
	width					: 100%;
	padding					: 10px;
	margin					: 0;
	outline					: none;
	border					: 1px solid #e1e1df;
}
.data-form input[type="text"],
.data-form input[type="password"],
.data-form input[type="email"],
.data-form input[type="url"],
.data-form input[type="number"],
.data-form input[type="tel"],
.data-form input[type="date"],
.data-form select{
	height					: 40px;
}
.data-form select{
	height					: 40px;
	line-height				: 40px;
}
.data-form textarea{
	resize					: none;
}
.data-form input[type="text"]:hover,
.data-form input[type="text"]:focus,
.data-form input[type="password"]:hover,
.data-form input[type="password"]:focus,
.data-form input[type="email"]:hover,
.data-form input[type="email"]:focus,
.data-form input[type="url"]:hover,
.data-form input[type="url"]:focus,
.data-form input[type="number"]:hover,
.data-form input[type="number"]:focus,
.data-form input[type="tel"]:hover,
.data-form input[type="tel"]:focus,
.data-form input[type="date"]:hover,
.data-form input[type="date"]:focus,
.data-form textarea:hover,
.data-form textarea:focus,
.data-form select:hover,
.data-form select:focus{
	border-color			: #ffc740;
}
.data-form .row{
	margin-bottom			: 15px;
}
.data-form .row:last-child{
	margin-bottom			: 0;
}
.data-form .form-field{
	position				: relative;
}
.data-form .form-field .fa{
	position				: absolute;
	top						: 12px;
	left					: 12px;
	color					: #bebebe;
}
.data-form .form-field input[type="text"],
.data-form .form-field input[type="password"],
.data-form .form-field input[type="email"],
.data-form .form-field input[type="url"],
.data-form .form-field input[type="number"],
.data-form .form-field input[type="tel"],
.data-form .form-field input[type="date"],
.data-form .form-field textarea,
.data-form .form-field select{
	padding-left			: 34px;
}
.col-half .owl-theme .owl-controls .owl-buttons{
	top						: -40px;
	right					: 0;
}
.col-half .owl-theme .owl-controls .owl-buttons div{
	width					: 30px;
	height					: 30px;
}
.col-half .owl-theme .owl-controls .owl-buttons div:before{
	width					: 30px;
	height					: 30px;
	line-height				: 30px;
}
.col-half .grid-clients .owl-wrapper-outer,
.col-half .testimonials-horizontal .owl-wrapper-outer{
	min-height				: 200px;
}
.section-header{
	margin-bottom			: 40px;
	position				: relative;
}
.section-header h1,
.section-header h2{
	letter-spacing			: 2px;
	font-weight				: 600;
}
.section-header .text-yellow:hover{
	color					: #ffc740;
}
.section-header .btn.v-center{
	right					: 0;
}
.section-header.inline{
	margin-top				: 20px;
	margin-bottom			: 0;
}
.section-header.inline h3{
	margin-bottom			: 0;
}
.section-header.banner{
	margin					: 0;
}
.section-header.banner h3{
	margin-bottom			: 0;
}
.counter-list .countTo{
	font-size				: 48px;
}
.counter-list .line-top{
	font-size				: 18px;
}
.grid-list .row{
	margin-right			: -3px;
}
.grid-list .grid{
	border					: 1px solid #e1e1df;
	margin-top				: -1px;
	margin-left				: -1px;
	padding					: 30px;
	text-align				: center;
}
.grid-list .grid p{
	margin-bottom			: 0;
}
.grid-list .grid .fa{
	margin-bottom			: 20px;
}
.grid-list.grid-vertical .grid{
	text-align				: left;
}
.grid-list.grid-vertical .grid .line-bottom:after{
	left					: 0;
	margin-left				: 0;
}
.grid-list.grid-vertical.with-icons .grid{
	position				: relative;
	padding-left			: 140px;
}
.grid-list.grid-vertical.with-icons .grid .fa{
	position				: absolute;
	width					: 120px;
	height					: 100%;
	background-color		: #FFF;
	border-right			: 1px solid #e1e1df;
	margin					: 0;
	top						: 0;
	left					: 0;
}
.grid-list.grid-vertical.with-icons .grid .fa:before{
	width					: 100%;
	text-align				: center;
	position				: absolute;
	top						: 50%;
	transform				: translate(0, -50%);    
    -webkit-transform		: translate(0, -50%);
    -moz-transform			: translate(0, -50%);
    -ms-transform			: translate(0, -50%);
}
.grid-list.grid-trans .grid{
	border-color			: #363636;
	background-color		: rgba(0,0,0,0.5);
}
.grid-list.grid-dark .grid{
	border-color			: #515151;
}
.grid-list.grid-white .grid{
}
.grid-list.grid-none .grid{
	border					: 0;
}
.grid-list.grid-clients .row{
	margin-left				: 1px;
	margin-right			: -1px;
	margin-top				: 1px;
}
.grid-list.grid-clients .grid{
	padding					: 20px 15px;
}
.grid-list.grid-clients .grid img{
	-ms-filter				: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter					: alpha(opacity=50);
	-moz-opacity			: 0.5;
	-khtml-opacity			: 0.5;
	opacity					: 0.5;
}
.grid-list.grid-clients .grid:hover img{
	-ms-filter				: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter					: alpha(opacity=100);
	-moz-opacity			: 1;
	-khtml-opacity			: 1;
	opacity					: 1;
}
.grid-list#owl-clients-big .grid{
	margin-top				: inherit;
	margin-left				: inherit;
	border-left				: 0;
	border-bottom			: 0;
	border-top				: 0;
}
.grid-list#owl-clients-big .owl-wrapper-outer{
	border					: 1px solid #e1e1df;
}
.grid-list.grid-dark#owl-clients-big .owl-wrapper-outer{
	border					: 1px solid #515151;
}
.testimonials-horizontal .item-image{
	display					: inline-block;
	width					: 90px;
	height					: 90px;
	border					: 4px solid #FFF;
}
.testimonials-horizontal .item-image img{
	-webkit-border-radius	: 50%;
	-moz-border-radius		: 50%;
	border-radius			: 50%;
	overflow				: hidden;
	position				: relative;
}
.testimonials-horizontal .item-comment{
	margin					: 10px 0;
}
.team-horizontal .team .team-detail{
	position				: relative;
	padding					: 10px 20px;
	background-color		: #ffc740;
}
.team-horizontal .team .team-detail .detail-social{
	position				: absolute;
	width					: 100%;
	height					: 0;
	bottom					: 100%;
	left					: 0;
	text-align				: center;
	background-color		: #fff;
	overflow				: hidden;
}
.team-horizontal .team:hover .team-detail .detail-social{
	height					: 30px;
}
.team-horizontal .owl-controls .owl-buttons{
	right					: 15px;
}
.team-horizontal.owl-carousel .team{
	padding					: 0 15px;
}
.blog-horizontal .post{
	padding					: 0 15px;
}
.blog-horizontal .post .post-photo,
.blog-horizontal .post .post-photo img{
	-webkit-border-radius	: 4px;
	-moz-border-radius		: 4px;
	border-radius			: 4px;
	position				: relative;
	overflow				: hidden;
}
.blog-horizontal .post .post-photo figcaption{
	-webkit-border-radius	: 4px;
	-moz-border-radius		: 4px;
	border-radius			: 4px;
	overflow				: hidden;
}
.blog-horizontal .post .post-media iframe{
	width					: 100%;
	border					: 0;
	overflow				: hidden;
}
.blog-horizontal .post .post-gallery .owl-pagination{
	margin-top				: 0;
	padding-top				: 15px;
	background-color		: #FFF;
}
.blog-horizontal .post .post-desc h3{
	margin-top				: 10px;
	font-size				: 18px;
}
.blog-horizontal .post .post-desc h3 a{
	display					: block;
	white-space				: nowrap;
	text-overflow			: ellipsis;
	overflow				: hidden;
}
.blog-horizontal .post .post-info{
	font-size				: 12px;
	font-weight				: 700;
}
.blog-horizontal .post .post-info .fa{
	margin-right			: 10px;
}
.blog-horizontal .post .post-info .info-date{
	line-height				: 30px;
}
.blog-horizontal .post .post-info .info-count ul li{
	margin-left				: 10px;
}
.blog-horizontal .post .post-info .info-count ul li a{
	display					: block;
	height					: 30px;
	line-height				: 30px;
	padding					: 0 15px;
	-webkit-border-radius	: 15px;
	-moz-border-radius		: 15px;
	border-radius			: 15px;
	background-color		: #f3f3f2;
}
.blog-horizontal .post .post-info .info-count ul li a:hover{
	background-color		: #ffc740;
}
.blog-horizontal .owl-controls .owl-buttons{
	right					: 15px;
}
.blog-horizontal.blog-list .post{
	margin-bottom			: 30px;
}
.blog-horizontal.blog-list .post .post-photo,
.blog-horizontal.blog-list .post .post-photo img,
.blog-horizontal.blog-list .post .post-photo figcaption{
	-webkit-border-radius	: 0;
	-moz-border-radius		: 0;
	border-radius			: 0;
}
.blog-horizontal.blog-list .post .post-desc,
.blog-horizontal.blog-list .post .post-info{
	background-color		: #FFF;
	padding					: 15px;
}
.blog-horizontal.blog-list .post .post-desc h3,
.blog-horizontal.blog-list .post .post-desc p{
	margin					: 0;
}
.blog-horizontal.blog-list .post .post-desc h3{
	font-size				: 16px;
	font-weight				: 700;
	margin-bottom			: 10px;
}
.blog-horizontal.blog-list .post .post-desc h3 a{
	white-space				: inherit;
	text-overflow			: inherit;
	overflow				: inherit;
}
.blog-horizontal.blog-list .post .post-info{
	border-top				: 1px solid #e1e1e1;
}
.team-half .team-half-detail > div{
	display					: none;
}
.team-half .team-half-detail > .active{
	display					: block;
}
.team-half .team-half-detail .team-header .team-photo{
	width					: 90px;
	margin-right			: 20px;
	border					: 4px solid #fff;
}
.team-half .team-half-detail .team-header .team-name h4{
	margin-top				: 10px;
	font-size				: 24px;
	font-weight				: 500;
}
.team-half .team-half-detail .team-desc{
	margin					: 20px 0;
}
.team-half .team-half-list .team-member{
	margin-bottom			: 30px;
	border					: 4px solid #FFF;
}
.team-half .team-half-list .team-member.active{
	border-color			: #ffc740;
}
.team-half .team-half-list .team-member .zoom-effect:after{
	display					: none;
}
.price-table .table-item{
	text-align				: center;
}
.price-table .table-item .table-header{
	color					: #fff;
	background-color		: #262626;
	border-left				: 1px solid #111;
}
.price-table .table-item .table-header .header-title,
.price-table .table-item .table-header .header-price{
	padding					: 10px 20px;
}
.price-table .table-item .table-header .header-title{
	font-size				: 24px;
	font-weight				: 800;
	background-color		: rgba(0,0,0,0.3);
}
.price-table .table-item .table-header .header-price{
	font-size				: 30px;
	font-weight				: 800;
	color					: #ffc740;
}
.price-table .table-item .table-header .header-price small,
.price-table .table-item .table-header .header-price p{
	font-size				: 18px;
	font-weight				: 600;
	color					: #999;
}
.price-table .table-item .table-content{
	color					: #262626;
	border-left				: 1px solid #e1e1e1;
	background-color		: #f3f3f2;
}
.price-table .table-item .table-content ul li{
	line-height				: 40px;
	padding					: 0 20px;
	border-bottom			: 1px solid #e1e1e1;
}
.price-table .table-item .table-content ul li:last-child{
	border-bottom			: none;
}
.price-table .table-item .table-content ul li:nth-child(even){
	background-color		: #FFF;
}
.price-table .table-item .table-footer{
	border					: 1px solid #e1e1e1;
	border-right			: 0;
	padding					: 20px;
	background-color		: #FFF;
}
.price-table .table-item.active{
	position				: relative;
	z-index					: 2;
	top						: -10px;
	-webkit-box-shadow		: 0px 0px 20px rgba(50, 50, 50, 0.3);
	-moz-box-shadow			: 0px 0px 20px rgba(50, 50, 50, 0.3);
	box-shadow				: 0px 0px 20px rgba(50, 50, 50, 0.3);
}
.price-table .table-item.active .table-header{
	background-color		: #ffc740;
	border-color			: transparent;
}
.price-table .table-item.active .table-header .header-title{
	background-color		: rgba(0,0,0,0.1);
	padding-top				: 15px;
	padding-bottom			: 15px;
}
.price-table .table-item.active .table-header,
.price-table .table-item.active .table-header .header-price,
.price-table .table-item.active .table-header .header-price small,
.price-table .table-item.active .table-header .header-price p{
	color					: #333;
}
.price-table > div:last-child .table-item .table-header{
	border-right			: 1px solid #000;
}
.price-table > div:last-child .table-item .table-content,
.price-table > div:last-child .table-item .table-footer{
	border-right			: 1px solid #e1e1e1;
}
.blog-search h4,
.blog-category h4,
.blog-recents h4,
.blog-tags h4,
.blog-archive h4{
	font-weight				: 700;
	margin-bottom			: 20px;
}
.blog-search,
.blog-category,
.blog-recents,
.blog-tags{
	margin-bottom			: 40px;
}
.blog-category ul li,
.blog-recents ul li,
.blog-archive ul li{
	margin-bottom			: 10px;
}
.blog-category ul li:last-child,
.blog-recents ul li:last-child,
.blog-archive ul li:last-child{
	margin-bottom			: 0;
}
.blog-recents ul li a,
.blog-archive ul li a{
	color					: #666;
}
.blog-recents ul li a:hover,
.blog-archive ul li a:hover{
	color					: #262626;
}
.blog-search form{
	position				: relative;
}
.blog-search input[type="text"]{
	width					: 100%;
	height					: 36px;
	padding					: 10px 36px 10px 10px;
	border					: 1px solid #e1e1df;
	outline					: none;
	font-size				: 14px;
}
.blog-search input[type="text"]:hover,
.blog-search input[type="text"]:focus{
	border-color			: #ffc740;
}
.blog-search .search-btn{
	width					: 34px;
	height					: 34px;
	position				: absolute;
	top						: 1px;
	right					: 1px;
	padding					: 0;
	border					: 0;
	outline					: none;
	color					: #666;
	background				: none;
}
.blog-search .search-btn:hover .fa{
	color					: #262626;
}
.blog-category ul li a{
	height					: 30px;
	line-height				: 30px;
	padding					: 0 10px;
	font-size				: 14px;
}
.blog-recents ul li a{
	display					: block;
	padding-bottom			: 10px;
	border-bottom			: 1px solid #e1e1e1;
}
.blog-recents ul li a span{
	display					: block;
	font-size				: 12px;
	margin-top				: 10px;
	color					: #999;
}
.blog-recents ul li a span .fa{
	margin-right			: 10px;
}
.blog-recents ul li:last-child a{
	padding-bottom			: 0;
	border-bottom			: 0;
}
.blog-archive ul li a{
	display					: block;
}
.blog-archive ul li a:hover{
	color					: #181819;
}
.post-detail .post-media.type-parallax{
	padding					: 100px 0;
}
.post-detail .post-comments .comment-list{
	margin-bottom			: 20px;
}
.post-detail .post-comments .comment-list .comment{
	position				: relative;
	padding-left			: 90px;
}
.post-detail .post-comments .comment-list .comment .comment-avatar{
	width					: 70px;
	height					: 70px;
	position				: absolute;
	top						: 0;
	left					: 0;
}
.post-detail .post-comments .comment-list .comment .comment-info{
	padding					: 15px;
	margin-bottom			: 20px;
	background-color		: #f3f3f2;
	position				: relative;
}
.post-detail .post-comments .comment-list .comment .comment-info:before{
	position				: absolute;
	display					: inline-block;
	content					: '';
	top						: 18px;
	left					: -10px;
	width					: 0;
	height					: 0;
	border-top				: 15px solid transparent;
	border-right			: 15px solid #f3f3f2;
	border-bottom			: 15px solid transparent;
}
.post-detail .post-comments .comment-list .comment .comment-info .comment-date,
.post-detail .post-comments .comment-list .comment .comment-info .comment-message{
	margin-bottom			: 10px;
}
.post-detail .post-comments .comment-list .comment .comment-info .comment-date{
	display					: block;
	margin-bottom			: 10px;
	font-size				: 14px;
	color					: #999;
}
.post-detail .post-comments .comment-list .comment .comment-info .comment-reply .btn{
	font-size				: 12px;
	height					: 30px;
	line-height				: 30px;
}
.post-detail.row .post-tags{
	margin-bottom			: 30px;
}
.post-detail.row .post-comments .comment-list .comment .comment-info .comment-message{
	font-size				: 14px;
}
.site-nav{
	display					: none;
	width					: 250px;
	height					: 100%;
	position				: absolute;
	top						: 0;
	left					: -250px;
	z-index					: 100;
	padding-top				: 30px;
	background-color		: #1a1919;
}
.site-nav ul.nav-default{
	margin-bottom			: 30px;
}
.site-nav ul.nav-default li{
	float					: none;
}
.site-nav ul.nav-default li a{
	display					: block;
	white-space				: nowrap;
	text-overflow			: ellipsis;
	height					: 30px;
	line-height				: 30px;
	font-size				: 12px;
	font-weight				: 600;
	letter-spacing			: 2px;
	color					: #FFF;
	padding					: 0 20px;
	position				: relative;
}
.site-nav ul.nav-default li:hover > a,
.site-nav ul.nav-default li.active > a{
	color					: #ffc740;
}
.site-nav ul.nav-default li ul{
	display					: none;
	padding					: 15px 0;
	background-color		: #141313;
}
.site-nav > ul.nav-default > li > a:before{
	display					: inline-block;
	content					: " ";
	width					: 0;
	height					: 2px;
	position				: absolute;
	left					: 0;
	top						: 50%;
	margin-top				: -1px;
	background-color		: #ffc740;
}
.site-nav > ul.nav-default > li > a.opened:before,
.site-nav > ul.nav-default > li:hover > a:before{
	width					: 10px;
}
.site-nav .header-search,
.site-nav ul.address-list,
.site-nav ul.social-icons{
	border-top				: 1px solid #141313;
	padding					: 15px;
}
.site-nav .header-search{
	display					: block;
}
.site-nav .header-search input[type="text"]{
	width					: 100%;
	background-color		: #0c0c0c;
}
.site-nav ul.address-list li,
.site-nav ul.address-list li a{
	font-size				: 14px;
	color					: #666;
}
.site-nav ul.address-list li{
	margin					: 0;
}
.site-nav ul.address-list li:hover a{
	color					: #ffc740;
}
.site-nav ul.social-icons li{
	float					: left;
}
.site-nav ul.social-icons li a{
	display					: inline-block;
	background-color		: transparent;
	border					: 1px solid #666;
	color					: #FFF;
	-webkit-border-radius	: 50%;
	-moz-border-radius		: 50%;
	border-radius			: 50%;
}
.site-nav ul.social-icons li a:hover{
	border-color			: transparent;
}
.header-search{
	font-size				: 11px;
	display					: inline-block;
}
.header-search form{
	position				: relative;
}
.header-search input[type="text"]{
	width					: 180px;
	height					: 28px;
	line-height				: 18px;
	margin					: 0;
	outline					: 0;
	padding					: 5px 40px 5px 15px;
	border					: none;
	color					: #FFF;
	background				: #1a1919;
	-webkit-border-radius	: 14px;
	-moz-border-radius		: 14px;
	border-radius			: 14px;
	-webkit-box-shadow		: 1px 1px 0px 0px rgba(57, 56, 56, 0.4);
	-moz-box-shadow			: 1px 1px 0px 0px rgba(57, 56, 56, 0.4);
	box-shadow				: 1px 1px 0px 0px rgba(57, 56, 56, 0.4);
}
.header-search:hover input[type="text"],
.header-search input[type="text"]:hover,
.header-search input[type="text"]:active,
.header-search input[type="text"]:focus{
	border-color			: #000;
	background-color		: #000;
}
.header-search button{
	width					: 40px;
	height					: 28px;
	color					: #999;
	position				: absolute;
	top						: 0;
	right					: 0;
	text-align				: center;
}
.header-search:hover button{
	color					: #fff;
}

/*  03 - Layout Stylesheet
-----------------------------------------------------------*/
#site-container.site-sticky #site-header.fixed,
#site-container.site-sticky #site-header .header-logo{
	position				: fixed;
}
#site-header{
	width					: 100%;
}
#site-header .header-inner{
	background-color		: #262626;
}
#site-header .wrapper{
	padding					: 0 40px;
}
#site-header .header-logo{
	position				: absolute;
	z-index					: 99;
}
#site-header .header-search{
	position				: absolute;
	top						: -38px;
	right					: 40px;
}
#site-header .header-nav{
	display					: none;
	width					: 30px;
	height					: 30px;
	line-height				: 30px;
	overflow				: hidden;
	text-align				: center;
	color					: #FFF;
	cursor					: pointer;
	float					: right;
}
#site-header .header-nav.active{
	color					: #ffc740;
}
#site-slider .slide-caption{
	position				: absolute;
	top						: 0;
	left					: 0;
	width					: 100%;
	height					: 100%;
	background				: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 100%);
	background				: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(20%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0)));
	background				: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 20%,rgba(0,0,0,0) 100%);
	background				: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 20%,rgba(0,0,0,0) 100%);
	background				: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 20%,rgba(0,0,0,0) 100%);
	background				: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 20%,rgba(0,0,0,0) 100%);
	filter					: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );
}
#site-slider .slide-caption h2{
	font-size				: 48px;
	font-weight				: 700;
	color					: #FFF;
	margin					: 20px 0;
}
#site-slider .slide-caption h3{
	color					: #999999;
	margin-bottom			: 40px;
}
#site-slider .slide-caption h5{
	font-weight				: 500;
	color					: #ffc740;
	margin-top				: 0;
}
#site-slider .slide-caption h5:after{
	left					: 0;
	width					: 20px;
	margin-left				: 0;
}
#site-slider .slide-caption .v-center{
	width					: 100%;
}
#site-footer .wrapper{
	padding					: 0 40px;
}
#site-footer .footer-top{
	padding					: 40px 0;
}
#site-footer .footer-top .top-logo{
	margin					: -40px 20px 0 0;
	float					: left;
}
#site-footer .footer-top .top-menu{
	margin-bottom			: 30px;
}
#site-footer .footer-top .top-menu ul li{
	margin-left				: 10px;
}
#site-footer .footer-top .top-menu ul li a{
	display					: inline-block;
	height					: 30px;
	line-height				: 30px;
	font-size				: 12px;
	letter-spacing			: 2px;
	font-weight				: 600;
	position				: relative;
}
#site-footer .footer-top .top-menu ul li a:after{
	content					: "";
	width					: 0;
	height					: 2px;
	position				: absolute;
	left					: 0;
	bottom					: 0;
	background-color		: #262626;
}
#site-footer .footer-top .top-menu ul li:hover a:after{
	width					: 50%;
}
#site-footer .footer-top .top-menu ul li:first-child{
	margin-left				: 0;
}
#site-footer .footer-top .top-newsletter{
	position				: relative;
}
#site-footer .footer-top .top-newsletter button,
#site-footer .footer-top .top-newsletter input[type="text"]{
	display					: inline-block;
	height					: 40px;
	font-size				: 13px;
	border					: 1px solid #c0c0c0;
	background-color		: #cacaca;
}
#site-footer .footer-top .top-newsletter button{
	width					: 40px;
	position				: absolute;
	top						: 0;
	right					: 0;
}
#site-footer .footer-top .top-newsletter input[type="text"]{
	width					: 240px;
	padding					: 10px 50px 10px 10px;
	-webkit-box-shadow		: 1px 1px 0px 0px rgba(218, 218, 218, 1);
	-moz-box-shadow			: 1px 1px 0px 0px rgba(218, 218, 218, 1);
	box-shadow				: 1px 1px 0px 0px rgba(218, 218, 218, 1);
}
#site-footer .footer-top .top-newsletter button:hover,
#site-footer .footer-top .top-newsletter button:focus{
	outline					: none;
	background-color		: #c1c1c1;
}
#site-footer .footer-top .top-newsletter input[type="text"]:hover,
#site-footer .footer-top .top-newsletter input[type="text"]:focus{
	outline					: none;
	background-color		: #e8e8e8;
}
#site-footer .footer-middle,
#site-footer .footer-bottom{
	padding					: 20px 0;
}
#site-footer .footer-middle{
	border-top				: 1px solid #c0c0c0;
	border-bottom			: 1px solid #c0c0c0;
}